.sell-box{
    display: block;
    max-width: 34rem; 
    height: 40rem;
    border: 1px solid black;
     margin: 4rem auto 6rem; 
     padding-top: 20px;
     
     
}

.form{
    justify-content: center;
    padding-left: 20px;
}

.button{
    align-items: center;
    
}

input #name{
    width: 1000px;
}

input{
    width: 500px;
    padding: 4px;
}  

textarea{
    width: 500px;
    border-radius: 3px;
    padding: 4px;
}

