/* 
.menu-bar {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
  }
  .main-menu {
    font-size: 1.2rem;
    display: flex;
    height: 10rem;
  background-color: blue; 
    list-style: none;
    width: 100%;
    position: relative;
    justify-content: center;
    align-items: center;
    border-radius: 20%;
  }
  .item-container{
    background-color: blueviolet;
    display: flex;
    border-radius: 1%;
  }
  .menu-item {
    background-color: #ff4e00;
    display: grid;
    align-items: center;
    height: 50px;
  }
  
  .menu-links {
    display: flex;
    margin-left: 2rem;
    color: black;
    font-weight: 400;
    font-size: larger;
    text-decoration: none;
    padding: 0.5rem 1rem;
    text-decoration: none;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  .menu-links:hover {
    background-color: transparent;
    border-radius: 4px;
    color: black;
    transform: scale(1.05);
    transition: all 0.1s ease-in;
  } */
